@import "tailwindcss";

@theme {
  --font-family-cartoon: '"Comic Sans MS"', 'cursive';
  --color-cartoon-blue: '#3D5AFE';
  --color-cartoon-red: '#FF0000';
  --color-cartoon-pink: '#FF7EB9';
}

@utility font-cartoon {
  font-family: var(--font-family-cartoon);
}
